services:
  catalog-db:
    image: postgres:16
    environment:
      POSTGRES_DB: catalogdb
      POSTGRES_USER: catalog
      POSTGRES_PASSWORD: catalog
    ports:
      - "5435:5432"
    volumes:
      - catalog:/var/lib/postgresql/data
volumes:
  catalog:
