version: '3.8'
services:
  postgres:
    image: postgres:13
    container_name: postgres_catalogo
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: catalogo_db
      TZ: 'America/Buenos_Aires'
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
