version: "3.9"

services:
  usuarios-db:
    image: postgres:16
    environment:
      POSTGRES_DB: usuariosdb
      POSTGRES_USER: usuarios 
      POSTGRES_PASSWORD: usuarios 
    ports:
      - "5433:5432"
    volumes:
      - usuarios_data:/var/lib/postgresql/data

  solicitudes-db:
    image: postgres:16
    environment:
      POSTGRES_DB: solicitudesdb
      POSTGRES_USER: solicitudes
      POSTGRES_PASSWORD: solicitudes
    ports:
      - "5434:5432"
    volumes:
      - solicitudes_data:/var/lib/postgresql/data

  catalog-db:
    image: postgres:16
    environment:
      POSTGRES_DB: catalogdb
      POSTGRES_USER: catalog
      POSTGRES_PASSWORD: catalog
    ports:
      - "5435:5432"
    volumes:
      - catalog:/var/lib/postgresql/data

  keycloak:
    image: quay.io/keycloak/keycloak:21.1.1
    container_name: keycloak_bda
    environment:
      - KC_DB=dev-file
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
    command: start-dev
    ports:
      - "8081:8080"
    volumes:
      - ./keycloak/realms:/opt/keycloak/data/import
    restart: unless-stopped

  osrm:
    image: osrm/osrm-backend
    container_name: osrm
    command: >
      osrm-routed /data/argentina-251115.osm.pbf
    volumes:
      - D:/osrm-data:/data
    ports:
      - "5000:5000"

volumes:
  usuarios_data:
  solicitudes_data:
  catalog:
