server:
  port: 8080
  servlet:
    context-path: /rutas
  tomcat:
    accesslog:
      enabled: true
      pattern: "%h %l %u %t \"%r\" %s %b %D"
  forward-headers-strategy: framework

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8081/realms/TPI-backend

app:
  osrm:
    base-url: http://router.project-osrm.org

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true

springdoc:
  swagger-ui:
    path: /swagger

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.springframework.security: TRACE