spring:
    application:
        name: gateway

    security:
        oauth2:
            resourceserver:
                jwt:
                    issuer-uri: http://localhost:8081/realms/TPI-backend
            client:
                provider:
                    keycloak:
                        issuer-uri: http://localhost:8081/realms/TPI-backend
                registration:
                    keycloak:
                        client-id: TPI-backend-client
                        authorization-grant-type: authorization_code
                        redirect-uri: "{baseUrl}/login/oauth2/code/keycloak"
                        scope: openid, profile, email

    cloud:
        gateway:
            default-filters:
            - TokenRelay
            routes:
                - id: whoami-local
                  uri: no://op
                  predicates:
                      - Path=/gateway/whoami

                - id: usuarios-svc
                  uri: http://localhost:8083
                  predicates:
                      - Path=/gateway/usuarios/**
                  filters:
                      - RewritePath=/gateway/usuarios/(?<segment>.*), /usuarios/${segment}
server:
    port: 8082
    uri:
        usuarios: http://localhost:8083

logging:
    level:
        org.springframework.cloud.gateway: DEBUG
        org.springframework.security: DEBUG
