services:
  solicitudes-db:
    image: postgres:16
    environment:
      POSTGRES_DB: solicitudesdb
      POSTGRES_USER: solicitudes
      POSTGRES_PASSWORD: solicitudes
    ports:
      - "5434:5432"
    volumes:
      - solicitudes_data:/var/lib/postgresql/data

volumes:
  solicitudes_data:
