spring:
  application:
    name: contenedores-service
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/contenedores_db}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:8081/realms/TPI-Backend}
          jwk-set-uri: ${KEYCLOAK_JWKS_URI:http://localhost:8081/realms/TPI-Backend/protocol/openid-connect/certs}

server:
  port: ${SERVER_PORT:8092}

springdoc:
  swagger-ui:
    path: /docs
  api-docs:
    path: /api-docs

logging:
  level:
    org.springframework.web: INFO
