services:
  usuarios-db:
    image: postgres:16
    environment:
      POSTGRES_DB: usuariosdb
      POSTGRES_USER: usuarios
      POSTGRES_PASSWORD: usuarios
    ports:
      - "5433:5432"
    volumes:
      - usuarios_data:/var/lib/postgresql/data
volumes:
  usuarios_data:
